
<!doctype html>

<html>
  
  <head>
    <title>Curate Science - With a Clean Conscience: Cleanliness Reduces the Severity of Moral Judgments</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://d3q8ns5gn4o3yg.cloudfront.net/assets/bootstrap-18b51632b83db168e70f362e278b5e71.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<style>
		#myoutercontainer { position:relative }
		#myinnercontainer { position:absolute; top:50%; height:10em; margin-top:5em }
		td.center { text-align:center;}
		#cssTable td {vertical-align:middle;}
		.navbar-brand { padding:4px; }
		.navbar-default { background-color: #0C3040; }
		
		.navbar ul li  {
            vertical-align: middle;
			padding:15px 10px 9px 10px;
        }
	</style>
  </head>
  
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a href="http://CurateScience.org" class="navbar-brand"><img src="logos/cs-logo-on-blue.png"></a>
          </div>
          
		  <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://curatescience.org/#section-1"><font size="4px">What is Curate Science?</font></a></li>
			  <li><a href="http://curatescience.org/#section-3"><font size="4px">Core Features</font></a></li>
            </ul>
            <nav>
              
              <ul class="nav navbar-nav pull-right">
                <li>
                 <span class="label label-danger">ALPHA</span> 
                </li>
				
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <table class="table table-condensed">
		<thead>
			<tr>
				<td width='100%'>
					<font size="6px">With a Clean Conscience: Cleanliness Reduces the Severity of Moral Judgments</font><br>
					Schnall, Benton, & Harvey (2008) &nbsp;<i>Psychological Science</i>, DOI: 10.1177/0146167208317771
				</td>	
				
			</tr>
		</thead>
	  </table>
	  
		<div class="row">
		  <div class="col-md-12" class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<font size="5px">Abstract</font>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"> <i class="fa fa-chevron-down fa-2x pull-right"></i></a>
				</div>
				<div class="accordion-body collapse" id="collapse3">
					<div class="accordion-inner">
						<div class="panel-body">
							<p>Theories of moral judgment have long emphasized reasoning and conscious thought while downplaying the role of intuitive and contextual influences. However, recent research has demonstrated that incidental feelings of disgust can influence moral judgments and make them more severe. This study involved two experiments demonstrating that the reverse effect can occur when the notion of physical purity is made salient, thus making moral judgments less severe. After having the cognitive concept of cleanliness activated (Experiment 1) or after physically cleansing themselves after experiencing disgust (Experiment 2), participants found certain moral actions to be less wrong than did participants who had not been exposed to a cleanliness manipulation. The findings support the idea that moral judgment can be driven by intuitive processes, rather than deliberate reasoning. One of those intuitions appears to be physical purity, because it has a strong connection to moral purity.</p>
							<p><b>Keywords:</b> </p>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  
		</div>
      <div class="row">
        
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <font size="5px">Replications (6) &nbsp;&nbsp;</font>			  
            </div>
            <div class="panel-body">
				
		<table class='table table-condensed' id="cssTable"><tbody>
			<tr><td colspan='2'><strong>Replications</strong></td>
				<td class="center"><strong>Data</strong></td>
				<td class="center"><strong>Sample Type</strong></td>
				<td class="center"><strong>N</strong></td>
				<td class="center"><strong><a title="A priori power to detect effect size as large as original">Power*</a></strong></td>
				<td class="center"><strong>Effect Size</strong></td>
				<td rowspan='10'><img src='logos/schnall-cis.png'></td>
			</tr>
			<tr><td colspan='2'>Of Schnall et al.'s Study 1:</td>
			<td class="center"><a rel="tooltip" title="Data not available">NA</a></td>
			<td class="center"><span class='label label-info'>Lab</span></td>
			<td class="center"><strong>40</strong></td>
			<td class="center">-</td>
			<td class="center"><strong>d = -0.60</strong></td>
			</tr>
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='http://www.psycontent.com/content/c12m31060v372022/fulltext.pdf'>Johnson et al. (2014a) Study 1</a></td>
				<td class="center"><a href='https://osf.io/96d78/osffiles/Exp1_Data.sav/version/1/download/'>Exp1_Data.sav</a></td>
				<td class="center"><span class='label label-info'>Lab</span></td>
				<td class="center">208</td>
				<td class="center">99%</td>
				<td class="center">d = -0.01</td></tr>
			
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='http://davidjjohnson.files.wordpress.com/2014/05/rejoinder-johnson-et-al-2014.pdf'>Johnson et al. (2014b)</a></td>
				<td class="center"><a href='https://osf.io/jxad3/osffiles/Online_Replication.sav/version/1/download/'>Online_Data.sav</a></td>
				<td class="center"><span class='label label-info'>Online</span></td>
				<td class="center">736</td>
				<td class="center">99%</td>
				<td class="center">d = -0.05</td></tr>
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='https://docs.google.com/document/d/16J_-O7OfAgh5mt8DPACEj0pAZ_1I0OrPOSJgTJV28qw'>Lee & Frank (2013)</a></td>
				<td class="center"><a href='http://www.stanford.edu/~mcfrank/lee_data.csv'>lee_data.csv</a></td>
				<td class="center"><span class='label label-info'>Online</span></td>
				<td class="center">90</td>
				<td class="center">80%</td>
				<td class="center">d = -0.09</td></tr>
			
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='http://psychfiledrawer.org/replication.php?attempt=MTc3'>Arbesfeld et al. (2014)</a></td>
				<td class="center"><a rel="tooltip" title="Data not available">NA</a></td>
				<td class="center"><span class='label label-info'>Lab</span></td>
				<td class="center">60</td>
				<td class="center">62%</td>
				<td class="center">d = -0.48</td></tr>
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='http://psychfiledrawer.org/replication.php?attempt=MTQ5'>Besman et al. (2013)</a></td>
				<td class="center"><a rel="tooltip" title="Data not available">NA</a></td>
				<td class="center"><span class='label label-info'>Lab</span></td>
				<td class="center">60</td>
				<td class="center">62%</td>
				<td class="center">d = -0.46</td></tr>
				
			<tr><td colspan='6'></td></tr>	
			<tr><td colspan='2'>Of Schnall et al.'s Study 2:</td>
				<td class="center"><a rel="tooltip" title="Data not available">NA</a></td>
				<td class="center"><span class='label label-info'>Lab</span></td>
				<td class="center"><strong>43</strong></td>
				<td class="center">-</td>
				<td class="center"><strong>d = -0.85</strong></td>
			</tr>
			<tr><td><span class='label label-default'></span></td>
				<td width='22%'><a href='http://www.psycontent.com/content/c12m31060v372022/fulltext.pdf'>Johnson et al. (2014a) Study 2</a></td>
				<td class="center"><a href='https://osf.io/ev5wz/osffiles/Exp2_Data.sav/version/1/download/'>Exp2_Data.sav</a></td>
				<td class="center"><span class='label label-info'>Lab</span></td>
				<td class="center">126</td>
				<td class="center">99%</td>
				<td class="center">d = 0.01</td></tr>
			
			</tbody>
		</table>
            </div>
          </div>
        </div>
      </div>
	  
	  
	  <div class="row">
		  
			<div class="col-md-12">  
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <font size="5px">Comments/Blog Posts/Tweets (17)</font>
				</div>
				<div class="panel-body">
				<table class='table table-striped'>
				  <tr>
					<td width="60%"><strong>Michael Kraus</strong> &nbsp; &nbsp; May 27, 2014 <br/> 
					<a href="http://psych-your-mind.blogspot.com/2014/05/notes-on-replication-from-un-tenured.html">Notes on Replication from an Un-Tenured Social Psychologist</a></td>
					<td  width="40%" rowspan='17'>

					<a class="twitter-timeline" href="https://twitter.com/search?q=schnall+et+al" data-widget-id="471384852990668800">Tweets about "schnall et al"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					
					</td>
					</tr>
					<tr>
					<td><strong>Andrew & Sabina</strong> &nbsp; &nbsp; May 26, 2014 <br/> 
					<a href="http://psychsciencenotes.blogspot.com/2014/05/psychologys-real-replication-problem.html">Psychology's real replication problem: our Methods sections</a></td> 
					</tr>
					<tr>
					<td><strong>Michael Frank</strong> &nbsp; &nbsp; May 26, 2014 <br/> 
					<a href="http://babieslearninglanguage.blogspot.com/2014/05/another-replication-of-schnall-benton.html">Another replication of Schnall, Benton, & Harvey (2008)</a></td> 
					</tr>
					<tr>
					<td><strong>Etienne P. LeBel</strong> &nbsp; &nbsp; May 26, 2014 <br/> 
					<a href="http://proveyourselfwrong.wordpress.com/2014/05/27/unsuccessful-replications-are-beginnings-not-ends-part-i/">Unsuccessful replications are beginnings not ends – Part I</a></td> 
					</tr>
					<tr>
					<td><strong>David Johnson</strong> &nbsp; &nbsp; May 25, 2014 <br/> 
					<a href="http://davidjjohnson.wordpress.com/2014/05/25/rejoinder-to-schnall-2014/">Rejoinder to Schnall (2014) in Social Psychology</a></td> 
					</tr>
					<tr>
					<td><strong>Carol Tweten</strong> &nbsp; &nbsp; May 25, 2014 <br/> 
					<a href="http://personxsituation.wordpress.com/2014/05/25/im-disappointed-a-graduate-students-perspective/">I’m disappointed: A graduate student's perspective</a></td> 
					</tr>
					<tr>
					<td><strong>Nicole Janz</strong> &nbsp; &nbsp; May 25, 2014 <br/> 
					<a href="http://politicalsciencereplication.wordpress.com/2014/05/25/replication-bullying-who-replicates-the-replicators/">"Replication bullying": Who replicates the replicators?</a></td> 
					</tr>
					
					<tr>
					<td><strong>Christian Battista</strong> &nbsp; &nbsp; May 25, 2014 <br/> 
					<a href="http://christianbattista.com/replication_bullies.html">Thoughts from a nobody on the whole 'replication bullying' thing</a></td> 
					</tr>
					
					<tr>
					<td><strong>Sanjay Srivastava</strong> &nbsp; &nbsp; May 25, 2014 <br/> 
					<a href="http://hardsci.wordpress.com/2014/05/25/does-the-replication-debate-have-a-diversity-problem/">Does the replication debate have a diversity problem?</a></td> 
					</tr>
					<tr>
					<td><strong>R. Chris Fraley</strong> &nbsp; &nbsp; May 24, 2014 <br/> 
					<a href="http://pigee.wordpress.com/2014/05/24/additional-reflections-on-ceiling-effects-in-recent-replication-research/">Additional Reflections on Ceiling Effects in Recent Replication Research</a></td> 
					</tr>
					
					<tr>
					<td><strong>Simone Schnall</strong> &nbsp; &nbsp; May 23, 2014 <br/> 
					<a href="http://www.psychol.cam.ac.uk/cece/blog">An Experience with a Registered Replication Project (Schnall's original blog post)</a></td> 
					</tr>
					<tr>
					<td><strong>Simone Schnall</strong> &nbsp; &nbsp; May 23, 2014 <br/> 
					<a href="http://www.spspblog.org/simone-schnall-on-her-experience-with-a-registered-replication-project/">Simone Schnall on her Experience with a Registered Replication Project (SPSP blog with heated comments)</a></td> 
					</tr>	
					<tr>
					<td><strong>Nosek, Lakens, & Schnall</strong> &nbsp; &nbsp; May 23, 2014 <br/> 
					<a href="https://docs.google.com/document/d/1ew7X0RaClU5_Ev4Ns3Uyn0I7PmjzP_Z1wKlnza_3Fe0/edit">Email communications between Social Psychology editors and Simone Schnall (published with permission)</a></td> 
					</tr>
					
					<tr>
					<td><strong>Felix Schönbrodt</strong> &nbsp; &nbsp; May 23, 2014 <br/> 
					<a href="http://www.nicebread.de/about-replication-bullies-and-scientific-progress/">About replication bullies and scientific progress </a></td> 
					</tr>
					<tr>
					<td><strong>Brent Donnellan</strong> &nbsp; &nbsp; May 21, 2014 <br/> 
					<a href="http://traitstate.wordpress.com/2014/05/21/random-reflections-on-ceiling-effects-and-replication-studies/">Random Reflections on Ceiling Effects and Replication Studies</a></td> 
					</tr>
					<tr>
					<td><strong>Daniel Kahneman</strong> &nbsp; &nbsp; May 20, 2014 <br/> 
					<a href="http://www.scribd.com/doc/225285909/Kahneman-Commentary">A New Etiquette for Replication</a></td> 
					</tr>
					<tr>
					<td><strong>Brent Donnellan</strong> &nbsp; &nbsp; December 11, 2013 <br/> 
					<a href="http://traitstate.wordpress.com/2013/12/11/go-big-or-go-home-a-recent-replication-attempt/">Go Big or Go Home – A Recent Replication Attempt</a></td> 
					</tr>
					
				</table>
				</div>
			  </div>
			<br>
			<hr>
			</div>
      </div>
    </div>
  </body>

</html>
