<%= @from_name %> has invited you to try out Curate Science.<br />
<br />
CurateScience.org aims to accelerate the growth of cumulative knowledge by facilitating and incentivizing the indpendent verification of published scientific findings.
<br />
To learn more about Curate Science and to start contributing, create your account now by clicking on the following link:<br /><br />

<a href="<%= @invite_url %>"><%= @invite_url %></a>

<br /><br />
We're excited to have you join the Curate Science community. Welcome!

<b>-- Curate Science Team</b>
