<%= @from_name %> has invited you to try out CurateScience.<br />
<br />
CurateScience.org brings the open-source movement to the post peer review
process.
<br />
To learn more about CurateScience, and to start contributing, create your account:<br /><br />

<a href="<%= @invite_url %>"><%= @invite_url %></a>

<br /><br />
We're excited to have you as part of the community,

<b>-- the CurateScience team</b>
