---
http_interactions:
- request:
    method: get
    uri: http://www.crossref.org/openurl/?format=unixref&id=doi:10.1126/science.1163233&noredirect=true&pid=etienne.lebel@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<doi_records>\r\n  <doi_record
        owner=\"10.1126\" timestamp=\"2011-08-21 09:53:29\">\r\n    <crossref>\r\n
        \     <journal>\r\n        <journal_metadata language=\"en\">\r\n          <full_title>Science</full_title>\r\n
        \         <abbrev_title>Science</abbrev_title>\r\n          <issn media_type=\"print\">0036-8075</issn>\r\n
        \         <issn media_type=\"electronic\">1095-9203</issn>\r\n        </journal_metadata>\r\n
        \       <journal_issue>\r\n          <publication_date media_type=\"print\">\r\n
        \           <month>11</month>\r\n            <day>21</day>\r\n            <year>2008</year>\r\n
        \         </publication_date>\r\n          <journal_volume>\r\n            <volume>322</volume>\r\n
        \         </journal_volume>\r\n          <issue>5905</issue>\r\n        </journal_issue>\r\n
        \       <journal_article publication_type=\"full_text\">\r\n          <titles>\r\n
        \           <title>Ab Initio Determination of Light Hadron Masses</title>\r\n
        \         </titles>\r\n          <contributors>\r\n            <person_name
        sequence=\"first\" contributor_role=\"author\">\r\n              <given_name>S.</given_name>\r\n
        \             <surname>Durr</surname>\r\n            </person_name>\r\n            <person_name
        sequence=\"additional\" contributor_role=\"author\">\r\n              <given_name>Z.</given_name>\r\n
        \             <surname>Fodor</surname>\r\n            </person_name>\r\n            <person_name
        sequence=\"additional\" contributor_role=\"author\">\r\n              <given_name>J.</given_name>\r\n
        \             <surname>Frison</surname>\r\n            </person_name>\r\n
        \           <person_name sequence=\"additional\" contributor_role=\"author\">\r\n
        \             <given_name>C.</given_name>\r\n              <surname>Hoelbling</surname>\r\n
        \           </person_name>\r\n            <person_name sequence=\"additional\"
        contributor_role=\"author\">\r\n              <given_name>R.</given_name>\r\n
        \             <surname>Hoffmann</surname>\r\n            </person_name>\r\n
        \           <person_name sequence=\"additional\" contributor_role=\"author\">\[...]
