<div id="page"></div>

<script src="//cdn.jsdelivr.net/mithril/0.1.12/mithril.min.js"></script>

<script type="text/javascript">
  var CS = {};
</script>

<%= javascript_include_tag "beta" %>
<%= csrf_meta_tags %>