<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="google-site-verification" content="7CrO9Y_velY8TjF6s8CWKB1s2S8TGRdQ8NoZ-gHPDE0" />
  <title>Curate-Science</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--
  <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/all.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
!-->
</head>

<body>
<%= yield %>
</body>
</html>
